body { font-family: sans-serif; padding: 10px; }
header { margin-bottom: 10px; }
.item { display: inline-block; margin:5px; vertical-align: top; text-align:center; }
input, button { margin:3px; padding:5px; }
